<br><br>
<div class="restaurant-container">
    <div class="restaurant-card">
      <img src="../../../assets/Tributoquito.jpg" alt="Restaurante La Floresta">
      <h3>Restaurante La Floresta</h3>
    </div>
    <div class="restaurant-card">
      <img src="../../../assets/royal-india-restaurante.jpg" alt="Restaurante La Floresta">
      <h3>Restaurante La Floresta</h3>
    </div>
    <div class="restaurant-card">
      <img src="../../../assets/vista-hermosa-itchimbia.jpg" alt="Restaurante Centro Historico">
      <h3>Restaurante Centro Historico</h3>
    </div>
  </div>
