<header>
    <div class="header-content">
        <nav>
            <ul>
              <li><a [routerLink]="'/login'"style="text-decoration: none;">Iniciar Sesión</a></li>
              <li><a [routerLink]="'/register'"style="text-decoration: none;">Registro</a></li>
            </ul>
          </nav>
      
        <h1>BIENVENIDO AL MUNDO DE LA COMIDA</h1>
        <div class="search-bar">
            <input type="text" placeholder="Restaurante o Destino">
            <button>
                <img src="../../../assets/lupa.png" alt="Buscar">
            </button>
        </div>
    </div>
</header>
<br>
