<!-- src/app/components/admin-dashboard/admin-dashboard.component.html -->
<div class="form-container">
    <h2>Agregar Restaurante</h2>
    <form (ngSubmit)="addRestaurant()" class="restaurant-form">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input id="name" type="text" [(ngModel)]="restaurant.name" name="name" required />
      </div>
      <div class="form-group">
        <label for="address">Dirección:</label>
        <input id="address" type="text" [(ngModel)]="restaurant.address" name="address" required />
      </div>
      <div class="form-group">
        <label for="description">Descripción:</label>
        <textarea id="description" [(ngModel)]="restaurant.description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="owner">Propietario:</label>
        <input id="owner" type="text" [(ngModel)]="restaurant.owner" name="owner" required />
      </div>
      <div class="button-container">
        <button type="submit" class="submit-button">Agregar Restaurante</button>
      </div>
    </form>
  </div>
  <br>